@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Nunito:wght@300;400;500;700&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,700&family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --bg-1:#F9FAFF;
    --bg-2:#FFFFFF;
    --primary:#FDC435;
    --fontLine:#25282B;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}